.search-content .search-input{
    font-size:18px !important;
}

.archive {
    padding-right:0px !important;
}

.page {
    padding-right:0px !important;
}

.page__content p, .page__content li {
    font-size:0.8em;
}

figure img {
    width:auto;
}

.visible-links a{
    font-size:15px;
}

div.highlighter-rouge{
    font-size:0.6em;
}

.author__avatar img {
    max-width: 200px;
    border-color: white;
}